$var title:
<div class="jumbotron">
    <div class="container">

        <p>TipRepo is a platform for rewarding and incentivising open-source software development.</p>

        <p>Tip Bitcoin towards any GitHub repository, and all past contributors and future submitters of pull requests receive a share of the tip.</p>

    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-lg-6 col-lg-offset-3 text-center">

            <h2>Tip your favourite GitHub project</h2>

            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go</button>
                </span>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-5 col-lg-offset-1">

            <div class="page-header">
                <h3>Top repos</h3>
            </div>

        </div>

        <div class="col-lg-5">

            <div class="page-header">
                <h3>Recently tipped</h3>
            </div>

        </div>

    </div>

</div>
